<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <header>
        <div>
            <img src="/img/logo.jpeg" alt="logo" width="100px">
        </div>
        <p>MediVet Curuzú</p>
    </header>
    <form action="" method="post">
        <p>Usuario</p>
        <input type="text">
        <p>Contraseña</p>
        <input type="password">
        <button type="submit">Iniciar Sesión</button>

        <a href="">Recuperar contraseña</a>
    </form>
</body>
</html>