<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Paciente</title>
</head>
<body>
    <form action="/menu/pacientes" method="post">
        <h1>ALTA</h1>
        <!-- Sección PACIENTE -->
        <div>
            <h3>DATOS DEL PACIENTE</h3>
            <label for="">Nombre</label>
            <input type="text" name="name" id="">
            <label for="">Especie</label>
            <input type="text" name="species" id="">
            <label for="">Raza</label>
            <input type="text" name="race" id="">
            <label for="">Sexo</label>
            <input type="text" name="sex" id="">
            <label for="">Peso</label>
            <input type="text" name="weight" id="">
            <label for="">Color</label>
            <input type="text" name="color" id="">
            <label for="">Edad</label>
            <input type="text" name="age" id="">
            <label for="">Cicatrices</label>
            <input type="text" name="scars" id="">
            <label for="">Cirugías estéticas</label>
            <input type="text" name="surgeries" id="">
            <label for="">Condición corporal</label>
            <input type="text" name="condition" id="">
            <label for="">Fin zootécnico</label>
            <input type="text" name="zootechnical" id="">
        </div>
        <!-- Sección PROPIETARIO -->
        <div>
            <h3>DATOS DEL PROPIETARIO</h3>
            <label for="">Nombre</label>
            <input type="text" name="name" id="">
            <label for="">Apellido</label>
            <input type="text" name="surname" id="">
            <label for="">Dirección</label>
            <input type="text" name="address" id="">
            <label for="">Teléfono</label>
            <input type="text" name="phone-area-code" id="">
            <input type="text" name="phone-number" id="">
            <label for="">Celular</label>
            <input type="text" name="cellphone-area-code" id="">
            <input type="text" name="cellphone-number" id="">
            <label for="">Email</label>
            <input type="email" name="email" id="">
        </div>
        <!-- Sección PROPIETARIO -->
        <div>
            <h3>MOTIVO DE LA CONSULTA</h3>
            <input type="text" name="reason" id="">
        </div>
        <!-- Sección DATOS MEDIOAMBIENTALES -->
        <div>
            <h3>DATOS MEDIOAMBIENTALES</h3>
            <label for="">Nutrición</label>
            <input type="text" name="nutrition" id="">
            <label for="">Estilo de vida</label>
            <input type="text" name="lifestyle" id="">
            <label for="">Entorno</label>
            <input type="text" name="environment" id="">
        </div>
        <!-- Sección CONSTANTES FISIOLOGICAS -->
        <div>
            <h3>CONSTANTES FISIOLOGICAS</h3>
            <label for="">Temperatura</label>
            <input type="text" name="temperature" id="">
            <label for="">Frecuencia cardíaca</label>
            <input type="text" name="heart-rate" id="">
            <label for="">Pulso</label>
            <input type="text" name="pulse" id="">
            <label for="">Frecuencia respiratoria</label>
            <input type="text" name="breathing-frequency" id="">
            <label for="">Estado de hidratación</label>
            <input type="text" name="hydration" id="">
        </div>
        <!-- Sección ANAMNESICOS -->            
        <div>
            <h3>ANAMNESICOS</h3>
            <input type="text" name="anamnestics" id="">
        </div>
        <button type="submit">Registrar</button>
    </form>
</body>
</html>